body {
    padding: 100px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .register-block {
    display: inline-block;
    margin-right: 2em;
    vertical-align: top;
}

body .register-block .register-header {
    font-weight: bold;
    margin-bottom: 1em;
}

body .register-block .register-input {
    margin-bottom: 1em;
}

body .register-block .default-register-user {
    margin-top: 1em;
    color: #909090;
}
